body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 101vh;
}

.container {
    max-width: 320px;
    width: 60%;
    margin : 0;
    margin-top: 100px;
    padding: 20px;
    background-color:transparent;
    border :1px solid rgba(225,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border-radius: 8px;
    box-shadow: 0 0 30px rgb(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 8px;
    color: #000000; 
    font-weight: bold; 
    font-size: 16px; 
    letter-spacing: 1px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

input::placeholder {
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.login-heading {
    text-align: center;
    margin-top: 20px;
}

.containerRegis {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 12px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; 
}

.error {
    color: red;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

